/* Styles for modals, which includes the polyfilled CSS from Google */

$modal-max-width: 45rem!default;
$modal-min-width: 90vw!default;

@mixin dhil-modal($bg-color: white){

  body.dialog-active{
    overflow-y:hidden;
    padding-right: 15px;
  }


  dialog[open] {
    display:block;
    visibility:visible;
    position: fixed;
    width: min(#{$modal-min-width}, #{$modal-max-width});
    overflow-y: hidden;
    padding: 0;
    top: 50%;
    left: 50%;
    // Fix for Chrome
    bottom:unset;
    right:unset;
    // Translate3D fix for Safari:

    //NOTE: There's still a subpixel rendering issue with Safari
    //which probably can't be resolved without some sort of awful, grotesque hack.
    transform: translate3d(-50%, -50%, 0px);
    border: none;
    border-radius: 3px;
    background-color: $bg-color;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%),
                0 1px 2px 0 rgb(0 0 0 / 6%);
  }

  dialog {
    display: none;
    visibility:hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: translate3d(0,0,0);
    will-change:transform, width;

  }

  // Polyfill
  dialog + .backdrop,
  ._dialog_overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  /* Now overrides */

  dialog + .backdrop{
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(2px);
  }

  dialog::backdrop{
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(2px);
  }

  dialog > header{
    padding-top:1rem;
    padding-bottom:1.5rem;
    text-align:left;
    & > .dialog-content{
      display:flex;
      justify-content:space-between;
      align-items:center;
    }
  }

  .dialog-heading{
    margin-right: ms(-2);
    h3{
      padding:0;
      margin-top:0;
      margin-bottom:0;
    }
  }

  .dialog-label{
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1.1rem;
    font-weight:600;
    margin-bottom:0;
    color: #2e3436;
    a{
      text-decoration:none;
      border-bottom:1px solid transparent;
      border-bottom-color:transparent!important;
      color:inherit;
      transition: border-bottom-color 0.3s ease-in-out;
      &:hover, &:active{
        border-bottom-color:#2e3436!important;
        text-decoration:none;
        color:inherit;
      }
    }
  }

  .dialog-closer{
    align-self:flex-start;
    margin-top:5px;
    form[method='dialog']{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      opacity: 0.7;
      transition: opacity 0.2s ease-in-out;
      &:hover{
        opacity:1;
      }
      .btn{
        display:flex;
        padding: ms(-1);
        background:transparent;
      }
      svg{
        stroke:black;

      }
    }
  }



  .dialog-content{
    margin: 0 2.8rem;
    will-change: margin;
    @media (max-width: $modal-max-width){
      margin: 0 5vw;
    }
  }

  .dialog-body{
    padding-bottom:1rem;
    min-height:15rem;
    height: fit-content;
    max-height: 80vh;
    overflow-y:auto;
    .dialog-content{
      &__heading{
        margin-bottom: .8rem;
        text-transform:lowercase;
        font-size:1.4rem;
        font-weight:600;
        font-variant:small-caps;
      }
      & > div{
        margin-bottom: 1.75rem;
      }

    }
    ul, li{
      list-style:none;
      padding-left:0;
      margin-left:0;
      font-size:0.95rem;
    }
    ul{
      margin-top: ms(-2);
      &.columns{
        columns: 2;
        column-gap: ms(-2);
        & > li{
          break-inside:avoid-column;
        }
        @media (max-width: $modal-max-width){
          columns:1;
        }
      }
    }
    li{
      padding-bottom: ms(-2);
    }
  }

}